<div class="container">
<div class="row">
  <div class="col-4">
    <div class="row">
      <div class="col-12">
        <button>Region</button>
      </div>
      <div class="col-12">
        <button>Area</button>
      </div>
      <div class="col-12">
        <button>Territory</button>
      </div>
      <div class="col-12">
        <button>Distributor</button>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        <input type="text" placeholder="Search" />
      </div>
      <div class="col-12">
        <select>
          <option>A</option>
        </select>
      </div>
    </div>
  </div>
</div>
</div>